.pricing {
    background-color: $light-gray;

    padding: 128px 0;

    font-size: 17px;
    font-weight: 300;

    .prices {
        margin-top: 128px;
        justify-content: space-between;
    }

    .price {
        /*TODO: Fix this shadow*/
        box-shadow: 0 0 10px 5px #000000,
            0 0 0 6px rgba(0, 0, 0, .1);
        max-width: 370px;
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        overflow: hidden;
        background-color: white;

        &:hover {
            transform: scaleX(1.1) scaleY(1.05);
            z-index: 5;
        }

        & > * {
            z-index: 2;
        }

        .bg-img {
            top: -17%;
            transform: rotate(-7deg);
            z-index: 0;
            background-color: $blue;
            width: 200%;
            height: 50%;
        }

        .name {
            margin: 40px 0;
            font-size: 25px;
            color: white;
        }

        .price-value {
            max-width: fit-content;
            color: white;
            margin-bottom: 100px;

            .number {
                font-size: 50px;
            }
        }

        .opp {
            position: relative;
            margin-bottom: 36px;
            padding-bottom: 8px;
            
            border-bottom: solid 1px gray;
        }
    }
}