@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h, h1, h2, h3, h4, h5, p {
    font-weight: 400;
    margin: 0;
}