.about {
    .title {
        margin-top: 128px;
    }

    p {
        text-align: center;;
        margin-top: 32px;
        max-width: 630px;
    }

    .row {
        justify-content: space-between;
        width: 100%;
        max-width: 1070px;
        margin: 128px 0;
    }
}