@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: black;
}

.section {
    width: 100%;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.container {
    margin: auto;
    max-width: $max-container-width;
    width: 100%;
}