@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h, h1, h2, h3, h4, h5, p {
    font-weight: 500;
    margin: 0;
}

.link {
    text-decoration: none;
    color: black;

    &:hover {
        color: $link-hover-color;
    }
}

.section {
    position: relative;
    width: 100%;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: auto;
    max-width: $max-container-width;
    width: 100%;
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.btn {
    padding: 1em 32px;
    border: solid 2px white;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;

    &.link:hover {
        color: unset;
        cursor: grab;
    }
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.item {
    max-width: 260px;

    .figcaption {
        margin-top: 40px;
    }

    .figcaption {
        font-weight: 600;
        font-size: 20px;
    }

    .text {
        max-width: 270px;
        margin-top: 18px;
        text-align: center;
    }
}

.article {
    .title {
        margin-top: 128px;
    }

    .p {
        text-align: center;;
        margin-top: 32px;
        max-width: 630px;
    }
}