.link {
    text-decoration: none;
    color: black;

    &:hover {
        color: $link-hover-color;
    }
}

.section {
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: auto;
    max-width: $max-container-width;
    width: 100%;
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.article {
    .p {
        text-align: center;;
        margin-top: 32px;
        max-width: 630px;
    }
}