.home {
    * {
        color: white;
    }

    .h1, .h2 {
        color: white;
    }

    .h1 {
        margin-top: 180px;
        font-size: 60px;
        font-weight: 600;
    }

    .h2 {
        margin-top: 16px;
        font-size: 22px;
    }

    .buttons {
        width: 100%;
        justify-content: space-between;
        margin-top: 110px;
        max-width: 460px;
    }

    .btn {
        width: 220px;
    }

    .arrow {
        margin: 100px 0;
        font-size: 50px;
    }
}
