$item-bg-hover-color: $sea-like;
$item-bg-default-color: white;

.services {
    background-color: $light-blue;
    padding: 128px 0;

    .grid {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, minmax(270px, 370px));
        row-gap: 32px;
        margin-top: 128px;
    }

    .item {

        padding: 64px 0;
        background-color: $item-bg-default-color;
        max-width: 370px;

        &.is-hover {
            color: white;
            background-color: $item-bg-hover-color;
        }

        * {
            color:inherit
        }

        .item-img {
            &.is-hover {
                filter: invert(1);
            }
        }
    }

    .btn {
        margin-top: 50px;
        border-color: black;
        padding: 0.7em 1em;
        background-color: inherit;

        &.is-hover {
            border-color: white;
        }
    }

    .link:hover {
        color: unset;
    }
}