@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

h, h1, h2, h3, h4, h5, p {
  font-weight: 500;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: blue;
}

.section {
  position: relative;
  width: 100%;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: auto;
  max-width: 1170px;
  width: 100%;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn {
  padding: 1em 32px;
  border: solid 2px white;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.btn.link:hover {
  color: unset;
  cursor: grab;
}
.btn.active {
  background-color: #00897b;
  color: white;
}
.btn:hover {
  background-color: #00897b;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.item {
  max-width: 260px;
}
.item .figcaption {
  margin-top: 40px;
}
.item .figcaption {
  font-weight: 600;
  font-size: 20px;
}
.item .text {
  max-width: 270px;
  margin-top: 18px;
  text-align: center;
}

.article .p {
  text-align: center;
  margin-top: 32px;
  max-width: 630px;
}

.header {
  padding: 40px 0;
}
.header .container, .header .nav {
  align-items: center;
  justify-content: space-between;
}
.header .nav {
  width: 100%;
  max-height: 120px;
  max-width: 720px;
  font-weight: 600;
  font-size: 20px;
}

.home * {
  color: white;
}
.home .h1, .home .h2 {
  color: white;
}
.home .h1 {
  margin-top: 180px;
  font-size: 60px;
  font-weight: 600;
}
.home .h2 {
  margin-top: 16px;
  font-size: 22px;
}
.home .buttons {
  width: 100%;
  justify-content: space-between;
  margin-top: 110px;
  max-width: 480px;
}
.home .btn {
  width: 230px;
  max-width: 230px;
  margin: 0 16px;
}
.home .arrow {
  margin: 100px 0;
  font-size: 50px;
}

.about {
  padding: 128px 0;
}
.about .row {
  justify-content: space-between;
  width: 100%;
  max-width: 1070px;
  margin-top: 128px;
}

.services {
  background-color: #e4fdf9;
  padding: 128px 0;
}
.services .grid {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(270px, 370px));
  row-gap: 32px;
  margin-top: 128px;
}
.services .item {
  padding: 64px 0;
  background-color: white;
  max-width: 370px;
}
.services .item.is-hover {
  color: white;
  background-color: #00897b;
}
.services .item * {
  color: inherit;
}
.services .item .item-img.is-hover {
  filter: invert(1);
}
.services .btn {
  margin-top: 50px;
  border-color: black;
  padding: 0.7em 1em;
  background-color: inherit;
}
.services .btn.is-hover {
  border-color: white;
}
.services .link:hover {
  color: unset;
}

.portfolio {
  padding: 128px 0;
}
.portfolio .btn {
  border-color: #00897b;
}
.portfolio .filter-view {
  margin-top: 128px;
  width: 100%;
}
.portfolio .filter-view .filters {
  width: 100%;
  max-width: 720px;
  justify-content: space-between;
}
.portfolio .filter-view .view {
  margin: 128px 0;
  width: 100%;
  height: 720px;
  display: grid;
  grid-template-columns: repeat(3, minmax(128px, 370px));
  column-gap: 30px;
  row-gap: 30px;
}
.portfolio .filter-view .view .preview {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 370px;
  max-height: 370px;
  color: white;
  font-weight: 600;
}
.portfolio .filter-view .view .preview .text {
  width: fit-content;
  visibility: hidden;
}
.portfolio .filter-view .view .preview .name {
  font-size: 20px;
}
.portfolio .view-all {
  margin: 32px auto 64px auto;
}

.pricing {
  background-color: #f0f1f1;
  padding: 128px 0;
  font-size: 17px;
  font-weight: 300;
}
.pricing .btn {
  font-weight: 500;
  border-color: black;
}
.pricing .prices {
  margin-top: 128px;
  justify-content: space-between;
}
.pricing .price {
  /*TODO: Fix this shadow*/
  box-shadow: 0 0 10px 5px #000000, 0 0 0 6px rgba(0, 0, 0, 0.1);
  max-width: 370px;
  width: 100%;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  background-color: white;
}
.pricing .price:hover {
  transform: scaleX(1.1) scaleY(1.05);
  z-index: 5;
}
.pricing .price > * {
  z-index: 2;
}
.pricing .price .bg-img {
  top: -17%;
  transform: rotate(-7deg);
  z-index: 0;
  background-color: #3949ab;
  width: 200%;
  height: 50%;
}
.pricing .price .name {
  margin: 40px 0;
  font-size: 25px;
  color: white;
}
.pricing .price .price-value {
  max-width: fit-content;
  color: white;
  margin-bottom: 100px;
}
.pricing .price .price-value .number {
  font-size: 50px;
}
.pricing .price .opp {
  position: relative;
  margin-bottom: 36px;
  padding-bottom: 8px;
  border-bottom: solid 1px gray;
}
.pricing .price .btn {
  margin-top: 50px;
}

.team {
  padding: 128px 0;
}
.team .members {
  width: 100%;
  justify-content: space-between;
  margin: 128px 0;
}
.team .selectors {
  margin: auto;
  max-width: 64px;
  justify-content: space-between;
}
.team .selectors .selector {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00897b;
}
.team .selectors .selector.active {
  background-color: #3949ab;
}
.team .selectors .selector:hover {
  cursor: grab;
}
.team .member {
  max-width: 370px;
}
.team .member .photoe {
  width: 100%;
  max-height: 320px;
}
.team .member .name {
  margin-top: 32px;
  font-weight: 600;
  font-size: 20px;
}
.team .member .socials {
  width: 80%;
  margin-top: 40px;
  justify-content: space-between;
}
.team .member .social {
  border-radius: 8px;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f0f1f1;
}

/*# sourceMappingURL=index.css.map */
